body {
    background-color: bisque;

}

.d-flex {
    display: flex;
    align-content: center;
    justify-content: space-between;
}


#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: rgb(78, 62, 162);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

#timer {
    margin: 20px;
    padding: 20px;
    border: black dashed 1px;
}

.timer-clock{
    background-color: rgb(0,0,0);
    width: 0px;
    height: 20px;;
}

.center-div {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 50%;
}

.center-text {
    text-align: center;
}

.bold-text{
    font-weight: bold;
}

.btn-blue {
    background-color: blue;
}

.btn-orange {
    background-color: orange;
}

.btn-green {
    background-color: green;
}

.btn-red {
    background-color: red;
}

.btn {
    color: white;
    border-radius: 20%;
    height: 100px;
    cursor: pointer;
}